@taildwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#search-book {
  background-image: url(/icons/sortDown.png);
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#search-book::-ms-expand {
  display: none;
}

#search-book option {
  @apply bg-white text-[#000842];
}

#search-book option:hover {
  @apply bg-[#0A7ABF] text-white;
}

#search-help::after {
  content: '';
  position: absolute;
  top: -13px;
  right: 3px;
  background: transparent;
  width: 0px;
  height: 0px;
  border-bottom: 15px solid #0a7abf;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  z-index: 10;
}

.increase-scale:hover {
  transform: scale(110%);
}

.reactSelect {
  @apply w-full border-0 bg-grey text-base font-[400] leading-[normal] text-blueDark placeholder-[#ABABAB] focus:outline-none;
}
.divContent {
  @apply relative mb-14 flex h-10 w-full items-center gap-2 border-0 border-b-2 border-solid border-blueDark;
}
.errorContainer {
  @apply absolute -bottom-6 text-xs font-bold text-red-500;
}
.labelForm {
  @apply text-base font-bold leading-[normal] text-blueLight;
}
.onSubmitButton{
  @apply flex h-[53px] w-full items-center justify-center gap-x-2 rounded-[32px] border-none bg-blueDark py-5 text-[17px] font-bold leading-normal text-white shadow-btn hover:cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;
}
.closeModal{
  @apply increase-scale absolute right-4 top-4 cursor-pointer text-5xl font-semibold text-black;
}
.CrudDeleteContainer{
  @apply fixed inset-0 z-50 flex items-center justify-center overflow-y-scroll bg-white pb-40 pt-10 opacity-100 lg:py-14;
}
.CrudDeletePositioner{
  @apply mx-auto w-10/12 rounded-xl bg-gray-200 p-10 lg:w-[60%];
}
.YesNoButton{
  @apply flex h-10 w-[50%] items-center justify-center rounded-[32px] border-none bg-blueDark text-xl font-extrabold leading-normal text-white shadow-btn hover:cursor-pointer xl:h-12;
}
.CrudCreateAndEditContainer{
  @apply fixed inset-0 z-50 overflow-y-scroll bg-white pb-60 opacity-100 lg:pb-14;
}
.CrudCreateAndEditPositioner{
  @apply mx-auto mt-4 h-fit w-11/12 rounded-[40px] bg-grey min-[390px]:mt-20  sm:max-w-[60%];
}